<h1>Campaign in a specific state</h1>

<h2>Look at the stats page to decide which state you want to focus your campaign on!</h2>
<p>Your campaigning is less effective the further the state is from your political stances.</p>
<p>For example, a republican in DC will receive a -5 to their dice roll, while only receiving a -2 to their dice roll in Indiana.</p>

<h2 style="color: red;">IN PROGESS. needs better instuctions, and a list/map of states to select from.</h2>
<app-dice></app-dice>
<p>Press the 'play' tab to return to your options</p>
