/* ion-content{
  /* --background: #fff url("../../assets/images/boardroom.png") no-repeat center center / cover;
  --background: #aff;
} */

/*
p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #000;
} */

/* h1 {
  color: #000;
  text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff;
}

h3 {
  color: #000;
  text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff;
} */

p {
  margin-top: 2px;
  margin-bottom: 2px;
}

.backbutton {
  position: fixed;
  top: 65px;
  left: 4px;
}

.center {
  margin-left: 3px;
  margin-right: 3px;
  font-size: large;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%
}

.header-icon {
  position: fixed;
  right: 10px;
  max-height: 30px;
  z-index: 199999;
}
