<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
      Visit a State
      <img class='header-icon' *ngIf="!isDemocrat" src="../../../assets/images/republicanIcon.png">
      <img class='header-icon' *ngIf="isDemocrat" src="../../../assets/images/democratIcon.png">
    </ion-title>
    <ion-button fill="clear" id="click-triggerCa"><ion-icon name="help-circle-outline"></ion-icon></ion-button>
    <ion-popover trigger="click-triggerCa" triggerAction="click">
      <ng-template>
        <ion-content class="ion-padding">
          <h3>State Visits!</h3>
          <p>One of the best ways to get people to vote for you is meeting them in person!</p>
          <p>Pick a state, and visit to show people who you are.</p>
          <p>Then roll to see how effective your visit was.</p>
          <p>You can visit any state but be mindful that your efforts will be less successful in states that are less receptive to your party's positions.</p><p> For example, it willl be harder for a Republican campaigning in CA to win over voters than if they visit a swing state like Florida or a red state like Indiana.</p>
          <p>The states marked with a * and the ones where it is harder to influence.</p>
        </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="margin-left: 2px; margin-top: 2px;">
    <ion-button class="backbutton" size="small" [disabled]="!canBack" (click)="back()"><ion-icon name="arrow-back-circle-outline"></ion-icon><em>Back</em></ion-button>
  </div>
  <div class="center">
  <h1 style="margin-top: 14px; max-width: 65%;">State Visit</h1>
  </div>
  <div class="center">
    <p>Choose 1 state to visit. You will hold an in-person rally to raise support</p>
  </div>
  <ion-list [inset]="true" style="width: 80%; margin-left:10%; border: 1px black solid;">
    <ion-item>
      <ion-select (ionChange)="inputChange()" [(ngModel)]="chosenState" placeholder="Select a state...">
        <ion-select-option *ngFor="let state of states" [value]="state">{{state.protected}}{{state.name}} ({{state | scoreDisplay}}) ({{state.college}} votes)</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <div *ngIf="!chosenState"  class="center">
    <div style="box-shadow: 1px 1px 4px 4px #888888; height: 160px; border-radius: 8px; border: 2px black solid; width: 80%; left: 10%;">
      <img style="height: 156px;" src="../../../assets/images/USmystery.png">
    </div>
  </div>

  <div *ngIf="chosenState"  class="center">
    <div style="box-shadow: 1px 1px 4px 4px #888888; height: 160px; border-radius: 8px; border: 2px black solid; width: 80%; left: 10%;">
      <img style="height: 100px;" src="../../../assets/images/states/{{chosenState.abbreviation}}-{{chosenState.name.replace(' ', '-')}}.png">
      <p style="font-size: 18px;">Leans: {{chosenState | scoreDisplay}}</p>
      <p style="font-size: 18px;">Electoral Votes: {{chosenState.college}}</p>
      <h2 style="color: black; margin-top: 0px; position: relative; bottom: 120px;">{{chosenState.name}}</h2>
    </div>
  </div>

  <br>

  <app-dice *ngIf="effective" [slot0]='[1]' val0="+0%" [slot1]="[2, 3]" val1="+1%" [slot2]='[4, 5]' val2="+2%" [slot3]="[6]" val3="+3%" [canClick]="!!chosenState" (rollStarted)="rollStarted()" (diceRolled)="handleRoll($event)"></app-dice>
  <div *ngIf="!effective" class="center"><p style="color: red;">Visiting this state will be less effective</p></div>
  <app-dice *ngIf="!effective" [slot0]='[1]' val0="-1%" [slot1]="[2, 3]" val1="+0%" [slot2]='[4, 5]' val2="+1%" [slot3]="[6]" val3="+2%" [canClick]="!!chosenState" (rollStarted)="rollStarted()" (diceRolled)="handleRoll($event)"></app-dice>

</ion-content>
