#cnsvg-container {
  width: 90%;
  overflow: visible;
 }

svg {
width: 100%;
height: 100%;
}

#cnUS-HI {
  transform-box: fill-box;
  transform-origin: center;
  transform: rotate(323deg);
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%
}

#cngraybar {
  height:10px;
  width:15%;
  fill: #d0ffd0;
  background-color: #d0ffd0;
}

#cnredbar {
  height:10px;
  width:15%;
  fill: #ff3030;
  background-color: #ff3030;
}

#cnbluebar {
  height:10px;
  width:25%;
  fill: #5050FF;
  background-color: #5050FF;
}
.header-icon {
  position: fixed;
  right: 10px;
  max-height: 30px;
  z-index: 199999;
}
