

<ion-content [fullscreen]="true">
  <div class="img-wrapper">
    <img src="../../assets/images/background6.png">
  </div>
  <ion-grid class="ion-no-padding">
  <div class="background">
    <!--<h2>PLACEHOLDER TITLE SCREEN</h2-->

    <!--p>A Jonas Linde Creation with production assistance from Julie Linde and Jeremy Lewis</p> -->
      <div class="center">
        <div class="centerwhite">
        <h1 class="titleText"><em> GET ELECTED!</em></h1>
        </div>
        <div class="centerwhite">
        <p style="color: white; margin-top: 0px;"><em>The Presidencial Election Board Game</em></p>
        </div>
        <ion-button class="button43 skinny" (click)="toTabs()"><em>Play</em></ion-button>
        <ion-button class="button43 skinny" (click)="toTutorial()"><em>Instructions</em></ion-button>
        <ion-button class="button43 skinny" (click)="toTabsTestEnd()"><em>(GAME END TESTING)</em></ion-button>
        <ion-button class="button43 skinny" (click)="toAchievements()"><em>Achievements</em></ion-button>
        <div class="centerwhite">
        <p style="font-size: small; color: white; margin-top: 0px;"><em>Based on a Board Game by Jonas Linde</em></p>
        </div>
        <!-- <ion-button class="button43" [disabled]="true" (click)="toTabs()">Start 2 player</button> -->
      </div>
    </div>
  </ion-grid>
</ion-content>
