.game-title {
  padding-top: 40%;
  text-align: center;
  font-size: 38px;
}

.container {
  height: 200px;
  position: relative;
}

.highcenter {
  position: absolute;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: xx-large;
  color: white;
  top: 20%;
  left: 50%;
  width: 90%;
  text-align: center;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #5050ff;
  border-radius: 20px;
  box-shadow: 0px 0px 4px 4px rgb(120, 120, 255);
  opacity: .9;
  /* box-shadow: inset 0px 0px 8px 8px #5050ff; */
}

.center {
  position: absolute;
  display: grid;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.img-wrapper{
  position: relative;
  overflow:hidden;
  height:100%;
}

.img-wrapper img{
  position: absolute;
  top:-100%; left:0; right: 0; bottom:-100%;
  margin: auto;
  width: 100%;
}

/* .bg-image {
    background: url("../../assets/images/background.png")!important;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
} */
