

<ion-content [fullscreen]="true">
  <div class="img-wrapper">
    <img src="../../assets/images/background.png">
</div>
  <ion-grid class="ion-no-padding">
  <div class="background">
    <!--<h2>PLACEHOLDER TITLE SCREEN</h2-->
      <div class="highcenter">
        <h1>The Presidential Election<br> Board Game</h1>
      </div>
    <!--p>A Jonas Linde Creation with production assistance from Julie Linde and Jeremy Lewis</p> -->
      <div class="center">

        <ion-button class="button43" (click)="toTabs()">Play</ion-button>
        <br>
        <ion-button class="button43" (click)="toTutorial()">Instructions</ion-button>
        <br>
        <ion-button class="button43" (click)="toTabsTestEnd()">(GAME END TESTING)</ion-button>
        <br>
        <ion-button class="button43" (click)="toAchievements()">Game History</ion-button>

        <!-- <ion-button class="button43" [disabled]="true" (click)="toTabs()">Start 2 player</button> -->
      </div>
    </div>
  </ion-grid>
</ion-content>
