
<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Game History
    </ion-title>
    <ion-button fill="clear" id="click-triggerGH"><ion-icon name="help-circle-outline"></ion-icon></ion-button>
    <ion-popover trigger="click-triggerGH" triggerAction="click">
      <ng-template>
        <ion-content class="ion-padding">Check up here on how many games you have played, and how many times you have won!</ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-padding bg-image">
    <div class="center">

    <h1>Game History</h1>
    </div>      <div class="center">

    <p>Games Played: {{plays || 0}}</p>
    </div>       <div class="center">

    <p>Games won: {{wins  || 0}}</p>
    </div>      <div class="center">

    <p>Wins as Republican: {{repWins || 0}}</p>
    </div>      <div class="center">

    <p>Wins as Democrat: {{demWins || 0}}</p>
    </div>      <div class="center">

    <p>Most Electoral Votes Won: {{highVotes || 0}}</p>
    </div>      <div class="center">
    </div>
    <div class="fix-center">
      <ion-button class="button43" (click)="continue()"><ion-icon name="arrow-back-circle-outline"></ion-icon>Back To Main Menu</ion-button>
    </div>

  </ion-grid>
</ion-content>
