.center {
  margin-left: 3px;
  margin-right: 3px;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%
}

.fix-center {
  position: fixed;
  bottom: 16px;
  left: 16px;
}

.title {
  margin-left: 3px;
  margin-right: 3px;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%
}
