
<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-padding bg-image">
  <div class="background">
    <div class="container">
      <div class="center">
      <h1 id="title">Hello There Senator!</h1>
    </div>
    <div class="center">
      <p id="info1">My name is Paige and I am your campaign manager!</p>
    </div>
    <div class="center">

      <p id="info2">It is my job to make sure you have everything you need to win the presidency!</p></div>
      <div class="center">
        <p id="info3">We are on our way to campaign headquarters now...</p></div>
        <div class="center">
          <p id="info4">That's where you can campaign, and see a map of the current state of the race</p></div>
          <div class="center">
            <p id="info5">You can reach me in the HELP tab if you need anything</p></div>
      <img id="aid" src="../../../assets/images/aid.png">
      <div id="ready" class="center">
        <p id="info6">If you are ready to go, let's campaign!</p>

        <ion-button (click)="continue()">Ready</ion-button>
      </div>
    </div>
  </div>
  </ion-grid>
</ion-content>
