<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
      Game Mode
    </ion-title>
    <ion-button fill="clear" id="click-triggerChoosemode"><ion-icon name="help-circle-outline"></ion-icon></ion-button>
    <ion-popover trigger="click-triggerChoosemode" triggerAction="click">
      <ng-template>
        <ion-content class="ion-padding">
          <h3>Game Mode Selection</h3>
          <p>Decide if you want to play the basic game, or a special game mode.</p>
        </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <div class="fix-center">
    <ion-button class="button43" (click)="back()"><ion-icon name="arrow-back-circle-outline"></ion-icon>Back To Main Menu</ion-button>
  </div>
<br>
<h1>Choose your game mode</h1>
<br>
<div class="center">
<button color="clear" class="party-button button43 extra tall" (click)="continue('')" style="background: url(../../assets/ClassicBackground.png) no-repeat center/cover fixed;"><br><p>CLASSIC <br>(2024 election)</p></button>
</div>
<!-- LOCKED -->

<div class="center" *ngIf="locked">
  <button color="clear" class="party-button button43 extra short" (click)="continue('extra')" style="background: url(../../assets/PlainBackground.png) no-repeat center/cover fixed;"><br><ion-icon name="lock-closed"></ion-icon><p>32 Round Mode</p></button>
</div>
<div class="center" *ngIf="locked">
  <button color="clear" class="party-button button43 extra short" (click)="continue('extra')" style="background: url(../../assets/PlainBackground.png) no-repeat center/cover fixed;"><br><ion-icon name="lock-closed"></ion-icon><p>Randomized States</p></button>
</div>
<div class="center" *ngIf="locked">
  <button color="clear" class="party-button button43 extra short" (click)="continue('extra')" style="background: url(../../assets/PlainBackground.png) no-repeat center/cover fixed;"><br><ion-icon name="lock-closed"></ion-icon><p>Election Of 1916</p></button>
  </div>

<!-- JERMY fix the button backgrounds here -->
<!-- UNLOCKED -->

  <div class="center" *ngIf="!locked">
    <button color="clear" class="party-button button43 extra medium" (click)="continue('long')" style="background: url(../../assets/EmptyBackground.png) no-repeat center/cover fixed;"><br><p>32 Round Mode</p></button>
  </div>
  <div class="center" *ngIf="!locked">
    <button color="clear" class="party-button button43 extra medium" (click)="continue('random')" style="background: url(../../assets/RandomBackground.png) no-repeat center/cover fixed;"><br><p>Randomized States</p></button>
  </div>
  <div class="center" *ngIf="!locked">
    <button color="clear" class="party-button button43 extra medium" (click)="continue('e1916')" style="background: url(../../assets/Background1916.png) no-repeat center/cover fixed;"><br><p>Election Of 1916</p></button>
    </div>


</ion-content>
