<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
      Historic Election
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="center" style="text-align: center;">
    <p><strong>You are playing with a historic map!</strong></p>
  </div>
  <div *ngIf="this.votes.mapTitle === '1876 Election'">
    <div class="center">
      <h1>Election of 1876 background</h1>
    </div>
    <div class="center"><img style="height: 72px;" src="../../assets/images/presidents/19-hayes.jpg"></div>
    <div class="center">
      <p>The election of 1876 was a close race, in which Rutherford B Hayes won by only 1 electoral vote.</p>
    </div>
    <div class="center">
      <p>Electoral Vote distribution and state prefrences were very different in 1876 than they are today. You will notice many states that were not yet added to the union.</p>
    </div>
    <div class="center">
      <p>This was the 2nd presidential election after the passing of 15th ammendment in 1870 that gave all black americans the right to vote, but sadly many were still wrongly denied that right. Women were also not allowed to vote in this election.</p>
    </div>
    <div class="center">
      <p>Interestingly, Colorado had just become a state when this election happened, and lack of time to prepare led to no presidential election taking place there.  Colorado's electoral votes were instead assigned by their state leaders. While this game mode is inspired by the historic data, you will notice that Colorado is a campaignable state in this game.</p>
    </div>
  </div>
  <div *ngIf="this.votes.mapTitle === '1916 Election'">
    <div class="center">
      <h1>Election of 1916 background</h1>
    </div>
    <div class="center"><img style="height: 72px;" src="../../assets/images/presidents/28-wilson.jpg"></div>
    <div class="center">
      <p>The election of 1916 was a close race, in which Woodrow Wilson won reelection.</p>
    </div>
    <div class="center">
      <p>Central issues of the election included: Entering World War 1, Segregation in the South, and Women's Right to Vote.</p>
    </div>
    <div class="center">
      <p>Electoral Vote distribution and state prefrences were very different in 1916 than they are today.</p>
    </div>
    <div class="center">
      <p>Alaska and Hawaii were not states yet in 1916! They became states in 1959.</p>
    </div>
    <div class="center">
      <p>Washington DC had no electoral votes in 1916, the 23rd ammendment was passed in 1961 to give them the power to vote for president.</p>
    </div>

  </div>
  <div *ngIf="this.votes.mapTitle === '1976 Election'">
    <div class="center">
      <h1>Election of 1976 background</h1>
    </div>
    <div class="center"><img style="height: 72px;" src="../../assets/images/presidents/39-carter.jpg"></div>
    <div class="center">
      <p>The election of 1976 was a close race, in which Jimmy Carter was elected president.</p>
    </div>
    <div class="center">
      <p>Gerald Ford lost the race, ending his presidency.</p>
    </div>
    <div class="center">
      <p>Central issues of the election included: The Watergate Scandal, International Affairs, and Economic Recession.</p>
    </div>
  </div>
  <div class="center">
    <ion-button class="button43" (click)="continue()">Continue</ion-button>
  </div>
  <br>
  <br>
</ion-content>
