.party-button {
  height: 25%;
  width: 90%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%
}

.center {
  position: relative;
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%
}

ion-button {
  border: 2px black solid;
  border-radius: 8px;
  --background: none;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 3em;
  color: black;
}

p {
  text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em white;
}
