.party-button {
  height: 25%;
  width: 90%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%
}

.center {
  font-size: large;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%
}

.fix-center {
  position: fixed;
  bottom: 16px;
  left: 16px;
}

.backbutton {
  position: absolute;
}
h1 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%
}

.extra {
  border: 2px black solid !important;
  border-radius: 8px;
  --background: none;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 3em;
  height: 150px;
  color: black;
  margin-bottom: 4px;
  margin-top: 4px;

}

p {
  text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em white;
}
