<ion-header [translucent]="false">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="center"><h1> Coming Soon</h1></div>
  <div class="center">
<h3>'Extra Game Mode' Bundle</h3></div>
<!-- <div class="center">

<h1>$1.99</h1></div> -->
<div class="center">

  <h3>Includes:</h3></div>
<div class="center">
<p style="margin-top: 0px;">Randomized State Mode</p></div>
<div class="center">
  <p style="margin-top: 0px;">32 Round Game Mode</p></div>
<div class="center">
<p style="margin-top: 0px;">Historic Election Maps</p></div>

<div class="center">
<ion-button class="button43" disabled="true">Try It Now</ion-button>
</div>
  <div class="center">
<h1> Coming soon... </h1></div>

  <div class="fix-center">
  <ion-button class="button43" (click)="back()"><ion-icon name="arrow-back-circle-outline"></ion-icon>Back To Game Mode</ion-button>
</div>

</ion-content>
