<ion-content [fullscreen]="true">


<div class="center">
<p>A Special Event has been triggered!</p>
</div>
<div class="center">
<h1>{{eventTitle}}</h1>
</div>
<div class="center">
<!-- <p>Before rounds 4,7,10 there will be a debate!  It has rolling rules that effect national climate<br></p> -->
<!-- <p>Debates, Gaffes, scandals, media tour, endorsements, SuperPacs will appear here</p> -->
</div>
<div class="center">
<p>{{eventDescription}}</p>
</div>
<div class="center">
<p>{{eventRollsL}}</p>
<p>{{eventRollsR}}</p>
</div>
<div class="center">

<app-dice (diceRolled)="handleRoll($event)"></app-dice>
</div>
</ion-content>
