<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      FUNDRAISE
    </ion-title>
    <ion-button fill="clear" id="click-triggerFa"><ion-icon name="help-circle-outline"></ion-icon></ion-button>
    <ion-popover trigger="click-triggerFa" triggerAction="click">
      <ng-template>
        <ion-content class="ion-padding">Raising Funds! What is it? Who does it? etc.</ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">



<div class="center">
<p>Roll 1-4: $10 million</p>
</div>
<div class="center">
  <p>Roll 5-6: $20 million</p>
</div>
<div class="center">
<app-dice  (rollStarted)="rollStarted()"  (diceRolled)="handleRoll($event)"></app-dice>
</div>
<br>
<div class="center">
<ion-button [disabled]="!canBack" (click)="back()">Back To Options</ion-button>
</div>
</ion-content>
