/* ion-content{
  /* --background: #fff url("../../assets/images/boardroom.png") no-repeat center center / cover;
  --background: #aff;
} */

.backbutton {
  position: absolute;
}

.center {
  margin-left: 3px;
  margin-right: 3px;
  font-size: large;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%
}

.header-icon {
  position: fixed;
  right: 10px;
  max-height: 30px;
  z-index: 199999;
}

.funfact {
  border-radius: 4px;
  border: 2px solid #505050;
  font-size: large;
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  left: 50%;
}

.photo {
  margin-top: 18px;
  border-radius: 50%;
  border: 2px solid black;
  width:50px;
  height:50px;
  padding-top: 0;
  margin-bottom: 0;
}

#navcontainer {
  margin-left: 5%;
  margin-right:5%;
  display: block;
  width:90%;
}

#navlist {
  padding: 3px 0;
  margin-right: 2px;
}

#navlist li {
  padding-left: 2px;
  padding-right: 2px;
  border-radius:2px 2px 2px 2px;
  border-bottom: 2px solid #999999;
  background: #999999;
  list-style: none;
  margin-left: 3px;
  border-top: 2px solid #999999;
  border-left: 2px solid #999999;
  border-right: 2px solid #999999;
  left: 5%;
  color: black;
  display: inline;
  position:relative;
  top:1px;
}
