<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
      FUNDRAISE
      <img class='header-icon' *ngIf="!isDemocrat" src="../../../assets/images/republicanIcon.png">
      <img class='header-icon' *ngIf="isDemocrat" src="../../../assets/images/democratIcon.png">
    </ion-title>
    <ion-button fill="clear" id="click-triggerFa"><ion-icon name="help-circle-outline"></ion-icon></ion-button>
    <ion-popover trigger="click-triggerFa" triggerAction="click">
      <ng-template>
        <ion-content class="ion-padding">
          <h3>Fundraising!</h3>
          <p>You cant win without money!</p>
          <p>Use the money you gain here to pay for ads on a later turn.</p>
          <p>Since Ads are so powerful, Fundraising is an important way to progress your candadicy</p>
        </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div style="margin-left: 2px; margin-top: 2px;">
    <ion-button class="button43" size="small" [disabled]="!canBack" (click)="back()"><ion-icon name="arrow-back-circle-outline"></ion-icon>Back To Options</ion-button>
  </div>
  <div class="center">
    <h1>Fundraise</h1>
    </div>
    <div style="margin-top: 0px;"  class="center">
      <p style="margin-top: 0px;" >Roll the dice to raise $1-2 million for advertising!</p>
    </div>
<app-dice [slot0]='[1,2,3,4]' val0="$1 Million" [slot1]="[5,6]" val1="$2 Million" (rollStarted)="rollStarted()"  (diceRolled)="handleRoll($event)"></app-dice>
<br>
</ion-content>
