<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
      Party Selection
    </ion-title>
    <ion-button fill="clear" id="click-triggerChoose"><ion-icon name="help-circle-outline"></ion-icon></ion-button>
    <ion-popover trigger="click-triggerChoose" triggerAction="click">
      <ng-template>
        <ion-content class="ion-padding">
          <h3>Choose a party!</h3>
          <p>There are 2 major parties in the USA, the Republican Party and the Democratic Party.</p>
          <p>Depending on which party you choose, different states will support you.</p>
        </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <div *ngIf="!votes.isMultiplayer" class="fix-center">
    <ion-button class="button43" (click)="back()"><ion-icon name="arrow-back-circle-outline"></ion-icon>Back To Game Mode</ion-button>
  </div>
<br>
<h1>Choose your party!</h1>
<br>
<div class="center">
<button color="clear" class="party-button button43 extra" (click)="continue('rep')" style="background: url(../../assets/RepBackground.png) no-repeat center/cover fixed;"><br><p>REPUBLICAN</p></button>
</div>
<div class="center">
<button color="clear" class="party-button button43 extra" (click)="continue('dem')" style="background: url(../../assets/DemBackground.png) no-repeat center/cover fixed;"><br><p>DEMOCRAT</p></button>
</div>

</ion-content>
