<div style="width: 75%;
     margin-right: 12.5%;
     margin-left: 12.5%;">
  <app-rolltable [slot0]="slot0"
                [slot1]="slot1"
                [slot2]="slot2"
                [slot3]="slot3"
                [slot4]="slot4"
                [slot5]="slot5"
                [val0]="val0"
                [val1]="val1"
                [val2]="val2"
                [val3]="val3"
                [val4]="val4"
                [val5]="val5">
  </app-rolltable>
  <div class="center">
    <img id="dice" src='assets/{{imageValue}}.png'>
    <ion-button class="button43" [disabled]="!canClick" (click)="animatedDiceRoll()"><em>Roll</em></ion-button>
  </div>
<div>
