#dice {
  max-width: 40px;
}

.center {
  font-size: large;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.rotate {
  animation: rotation 2s;
}
