<ion-tabs>
  <div class="center">
    <span id="progress">{{progressMessage}}</span>

    <span id="progress-icon"><ion-icon name="walk"></ion-icon></span>
    <span id="finish-icon"><ion-icon name="flag"></ion-icon></span>

    <div id="greenbar"></div>
  <div id="whitebar"></div>
  </div>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" [disabled]="actionPending || isTab1()">
      <ion-icon name="play"></ion-icon>
      <ion-label>Play</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" [disabled]="actionPending" (click)="actionStart()">
      <ion-icon name="map"></ion-icon>
      <ion-label>Map / Polls</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" [disabled]="actionPending" (click)="actionStart()">
      <ion-icon name="help"></ion-icon>
      <ion-label>Help</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
