/* ion-content{
  /* --background: #fff url("../../assets/images/boardroom.png") no-repeat center center / cover;
  --background: #aff;
} */


.center {
  margin-left: 3px;
  margin-right: 3px;
  font-size: large;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%
}
