.blue {
  color: rgb(2, 2, 124);
}

.red {
  color: rgb(122, 2, 2);
}


.lightred {
  color: rgb(228, 15, 50);
}

.lightblue {
  color: rgb(6, 99, 238);
}

.center {
  text-align: center;
}

.scorebox {
  border-radius: 2px;
  border-color: white;
  border-style: solid;
  background-color: rgb(66, 66, 66);
}

.header-icon {
  position: fixed;
  right: 10px;
  max-height: 30px;
}
