<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
      Campaign Headquarters
      <img class='header-icon' *ngIf="!isDemocrat && !isThird" src="../../assets/images/republicanIcon.png">
      <img class='header-icon' *ngIf="isDemocrat && !isThird" src="../../assets/images/democratIcon.png">
    </ion-title>
    <ion-button fill="clear" id="click-trigger1"><ion-icon name="help-circle-outline"></ion-icon></ion-button>
    <ion-popover trigger="click-trigger1" triggerAction="click">
      <ng-template>
        <ion-content class="ion-padding">
          <h3>It is your turn!</h3>
          <p>You have three choices on your turn:</p>
          <p>Fundraise! You can raise money for ads. This is an important part of winning the presidential race.</p>
          <p>Run Ads! Use your fundraised money to affect multiple states.</p>
          <p>State Visit! Visit a state and boost your popularity in that state.</p>
          <p>If you are unsure what to do, go to the MAP tab and pick a state you want to affect</p>
        </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <div class="center">
    <p><strong>Round {{votes.round}} out of 16</strong></p>
  </div>
  <div class="center">
    <p>{{currentTurn}}</p>
  </div>
  <!-- <ion-button class="button43" class="option" (click)="fundraise()"><img src="../../assets/images/funds.png"> Fundraise!</ion-button>
  <ion-button class="button43" class="option" (click)="campaign()"><img src="../../assets/images/campaign.png"> Campaign!</ion-button>
  <ion-button class="button43" class="option" (click)="advertising()"><img src="../../assets/images/ads.png"> Advertise!</ion-button> -->
  <ion-button class="option button43" (click)="fundraise()"><em>FUNDRAISE</em></ion-button>
  <ion-button class="option button43" (click)="advertising()" [disabled]="!votes.funds">
    <div>
      <p style="margin-bottom: 1px;"><em>ADVERTISE</em></p>
      <p style="font-size: small; margin-top: 0px;">COSTS $1 MILLION</p>
      <p style="font-size: small; margin-top: 0px;">({{votes.funds}} AVAILABLE)</p>
    </div>
  </ion-button>
  <ion-button class="option button43" (click)="campaign()"><em>VISIT A STATE</em></ion-button>
</ion-content>
