<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Round {{votes.round}} out of 10
      <img class='header-icon' *ngIf="!isDemocrat" src="../../assets/images/republicanIcon.png">
      <img class='header-icon' *ngIf="isDemocrat" src="../../assets/images/democratIcon.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <div class="center">
    <p><strong>Turn:</strong> {{(votes.turn%2)+1}} of 2 <strong>Funds:</strong> ${{votes.funds}}</p>
  </div>
  <div class="center">
    <p>{{getCurrentTurn()}}</p>
  </div>
  <ion-button class="option" (click)="fundraise()"><img src="../../assets/images/funds.png"> Fundraise!</ion-button>
  <ion-button class="option" (click)="campaign()"><img src="../../assets/images/campaign.png"> Campaign!</ion-button>
  <ion-button class="option" (click)="advertising()"><img src="../../assets/images/ads.png"> Advertise!</ion-button>
</ion-content>
