<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Round {{votes.round}} out of 10
      <img class='header-icon' *ngIf="!isDemocrat && !isThird" src="../../assets/images/republicanIcon.png">
      <img class='header-icon' *ngIf="isDemocrat && !isThird" src="../../assets/images/democratIcon.png">
    </ion-title>
    <p class="subtitle" *ngIf="isThird">
    Party: {{partyName}}
    </p>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <div class="center">
    <p><strong>TURN:</strong> {{(votes.turn%2)+1}} of 2 <strong>FUNDS:</strong> ${{votes.funds}} MILLION</p>
  </div>
  <div class="center">
    <p>{{getCurrentTurn()}}</p>
  </div>
  <!-- <ion-button class="option" (click)="fundraise()"><img src="../../assets/images/funds.png"> Fundraise!</ion-button>
  <ion-button class="option" (click)="campaign()"><img src="../../assets/images/campaign.png"> Campaign!</ion-button>
  <ion-button class="option" (click)="advertising()"><img src="../../assets/images/ads.png"> Advertise!</ion-button> -->
  <ion-button class="option" (click)="fundraise()">FUNDRAISE</ion-button>
  <ion-button class="option" (click)="advertising()" [disabled]="!votes.funds">
    <div>
      <p style="margin-bottom: 1px;">ADVERTISE</p>
      <p style="font-size: small; margin-top: 0px;">COSTS $1 MILLION</p>
      <p style="font-size: small; margin-top: 0px;">({{votes.funds}} AVAILABLE)</p>
    </div>
  </ion-button>
  <ion-button class="option" (click)="campaign()">CAMPAIGN</ion-button>
</ion-content>
