<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Instructions
      <img class='header-icon' *ngIf="!isDemocrat && !isThird" src="../../assets/images/republicanIcon.png">
      <img class='header-icon' *ngIf="isDemocrat && !isThird" src="../../assets/images/democratIcon.png">
      <h1 *ngIf="isThird">{{partyName}}</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Instructions</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="center">
  <p>Hello! How can I help you?</p>
  </div>
  <img id="aid" src="../../../assets/images/aid.png">
  <ion-button (click)='turn()' style="padding-left: 20px;">What to do on my turn?</ion-button>
  <ion-button (click)='advertise()' style="padding-left: 20px;">Info on Advertizing?</ion-button>
  <ion-button (click)='campaign()' style="padding-left: 20px;">Info on Campaigning?</ion-button>
  <ion-button (click)='fundraise()' style="padding-left: 20px;">Info on Fundraising?</ion-button>
  <ion-button (click)='debate()' style="padding-left: 20px;">Info on Debates?</ion-button>
  <ion-button (click)='event()' style="padding-left: 20px;">Info on Special Events?</ion-button>
  <ion-button (click)="reset()" style="padding-left: 20px;" color="danger">Forfeit the race</ion-button>

</ion-content>
