<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
      Instructions
      <img class='header-icon' *ngIf="!isDemocrat && !isThird" src="../../assets/images/republicanIcon.png">
      <img class='header-icon' *ngIf="isDemocrat && !isThird" src="../../assets/images/democratIcon.png">
    </ion-title>
    <ion-button fill="clear" id="click-trigger3"><ion-icon name="help-circle-outline"></ion-icon></ion-button>
    <ion-popover trigger="click-trigger3" triggerAction="click">
      <ng-template>
        <ion-content class="ion-padding">
          <!-- Dropdown for more info -->
          <h3>Instructions:</h3>
          <p>You can click on any of these options to view more instructions!</p>
          <p><strong>This is also where you can drop out of the race!</strong></p>
        </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="center">
    <h1>Campaign Resources</h1>
  </div>
  <div class="center">
    <ion-button class="button43" (click)='turn()'  >What to do on my turn?</ion-button>
  </div>
  <div class="center">
    <ion-button class="button43" (click)='advertise()'  >Fundraise/Advertise</ion-button>
  </div>
  <div class="center">
    <ion-button class="button43" (click)='campaign()'  >Visit a State</ion-button>
  </div>
  <div class="center">
    <ion-button class="button43" (click)='event()'  >Special Events</ion-button>
  </div>
  <div class="center">
    <ion-button class="button43" (click)='fundraise()'  >List of State Abbreviations</ion-button>
  </div>
  <!-- This is the only important thing that happens on this tab  -->
  <div class="center">
    <ion-button class="button43 "  color="danger" (click)="reset()" style="background-color: #ff6060;">Forfeit the race</ion-button>
  </div>
</ion-content>
