p {
  text-align: center;
};

h1 {
  text-align: center;
};

h3 {
  text-align: center;
};

// ion-content{
//   /* --background: #fff url("../../assets/images/boardroom.png") no-repeat center center / cover; */
//   --background: #aff;
// }



.centervert {
  position: absolute;
  display: grid;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.header-icon {
  position: fixed;
  right: 10px;
  max-height: 30px;
}

.center {
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%
}
