<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Instructions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Instructions</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1>HOW TO PLAY</h1>
  <h2 style="color: red;">IN PROGESS.  Not the complete instructions, I just pasted in some of them to test the page.  Also, they won't always be this ugly, formatting needs work</h2>
  <p>The game has 10 rounds. In each round, a player gets to make two moves. Your moves can be one of three activities: campaigning, fundraising, and running ads.<br></p>
  <h3>Campaigning:</h3>
  <p>A player must first select a state to visit and then roll the die. After rolling the die, the player will subtract from his* roll the difference between their political rating and the political rating of the state they visited.<br><br>
  Ex: The Republican nominee has a “4” political rating and decides to campaign in Florida, a swing state (“3” political rating). If they rolled a 3, they will subtract 1 (the difference between 4 and 3) from their roll and add that to their polling in Florida. This means they gained 2 points in Florida.<br><br>
  *Yes, HIS. One of 90+ major party nominees has been a woman. Gender inequality is real and using “their” in our instructions won’t make it go away.<br><br>
  Ex: GA 16   38-44<br><br>
  The state’s abbreviation, followed by its total electoral votes, followed by the initial vote totals in that state.<br></p>
<h3>Fundraising: </h3>
<p>You can’t win without violating your core principles for money. To run ads, you’ll need some money. If you roll a 1-4, you’ll receive one fundraising point. If you roll a 5 or 6, you’ll receive two fundraising points (way to grovel). Two fundraising points are worth 10,000 Stanley nickels.<br></p>
  <h3>National Climate:</h3>
    <br>
  <h3>Running ads:</h3> <p> pick one region to run ads in at a time. You can run up to 5 ads per turn.<br>
Positive- You’ve been fighting for years to solve all these problems that haven’t been solved and if the voters promote you, then you’re really gonna fight hard and solve them?<br>

Negative- Did your opponent murder a lady? No? Maybe bought a company that subsequently laid off workers that lost health insurance and one of those workers wives’ tragically contracted cancer? Same thing. At least that’s what we’ll tell the voters. Negative ads work. If your followers don’t like you, they should at least loathe your opponent and his supporters.  These ads can backfire, however.<br>


Media Tour: Looking to show your lighter, more human side? Take a seat on a late night TV couch, it’s usually a safe bet. Jimmy will go easy. No, the other Jimmy.<br>

</p>
</ion-content>
