<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
      Special Election Mode
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="center" style="text-align: center;">
    <p><strong>You are playing a Special Mode!</strong></p>
  </div>
  <div *ngIf="this.votes.mapTitle === 'Battle Ground Mode!'">
    <div class="center">
      <h1>Battle Ground Mode</h1>
    </div>
    <div class="center">
      <p>In this mode, every state starts out tied. Scrabble to secure as many states as possible in 16 moves!</p>
    </div>
    <div class="center">
      <p>Remember that votes can change by as much as 3% on election day, so don't give up even if things look bleak.</p>
    </div>
  </div>

  <div *ngIf="this.votes.mapTitle === '32 Round Game Mode'">
    <div class="center">
      <h1>32 Round Mode</h1>
    </div>
    <div class="center">
      <p>This mode works the same as a standard game, but the game lasts for 32 rounds instead of 16 rounds.</p>
    </div>
    <div class="center">
      <p>See if the extra time can help you win big!</p>
    </div>
  </div>

  <div *ngIf="this.votes.mapTitle === 'Randomized Game Mode!'">
    <div class="center">
      <h1>Randomized States Mode</h1>
    </div>
    <div class="center">
      <p>In this mode, every state starts out with a random political preference. Try playing this mode a few times to see lots of interesting maps.</p>
    </div>
    <div class="center">
      <p>This is a great way to play with new strategies, as you will need to focus on different states each time you play.</p>
    </div>
  </div>

  <div class="center">
    <ion-button class="button43" (click)="continue()">Continue</ion-button>
  </div>
  <div class="center">
    <ion-button class="button43" (click)="back()">Back to Options</ion-button>
  </div>
  <br>
  <br>
</ion-content>
