<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Your Opponents Turn
    </ion-title>
    <ion-button fill="clear" id="click-triggerOp"><ion-icon name="help-circle-outline"></ion-icon></ion-button>
    <ion-popover trigger="click-triggerOp" triggerAction="click">
      <ng-template>
        <ion-content class="ion-padding">You have an opponent? What is it? Who does it? etc.</ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="center">
    <h1>THIS IS WHAT YOUR OPPONENT DID:</h1>
  </div>
  <div class="center">
    <h2>{{actionText}}</h2>
  </div>
  <div class="center" *ngFor="let state of actionIcons">
    <img style="max-height: 28px;" [src]='state.path'>
    <h3 *ngIf="state.isTowardBlue" style="color:blue">+ {{state.change}}</h3>
    <h3 *ngIf="!state.isTowardBlue" style="color:red">+ {{state.change}}</h3>

    <!-- change isTowardBlue -->
  </div>
  <br><br>
  <div class="center">
    <button class="button-53" role="button" (click)="nextEvent()">Continue</button>
  </div>
</ion-content>
