<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Your Opponent's Turn
    </ion-title>
    <ion-button fill="clear" id="click-triggerOpp"><ion-icon name="help-circle-outline"></ion-icon></ion-button>
    <ion-popover trigger="click-triggerOpp" triggerAction="click">
      <ng-template>
        <ion-content class="ion-padding">
          <h3>Your Opponents</h3>
          <p>You are working hard to win, but so is your opponent.</p>
          <p>Every time that you make a move, your opponent will as well.</p>
          <p>Pay attention to the moves your opponent makes, since you might need to fight back.</p>
        </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="center">
    <h1>THIS IS WHAT YOUR OPPONENT DID:</h1>
  </div>
  <div class="center">
    <h2>{{actionText}}</h2>
  </div>
  <div class="center" *ngFor="let state of actionIcons">
    <img style="max-height: 28px;" [src]='state.path'>
    <h3 *ngIf="state.isTowardBlue && state.change > -1" style="color:blue">+ {{state.change}}</h3>
    <h3 *ngIf="state.isTowardBlue && state.change <= -1" style="color: blue">{{state.change}}</h3>

    <h3 *ngIf="!state.isTowardBlue && state.change > -1" style="color:red">+ {{state.change}}</h3>
    <h3 *ngIf="!state.isTowardBlue && state.change <= -1" style="color:red">{{state.change}}</h3>

    <!-- change isTowardBlue -->
  </div>
  <br><br>
  <div class="center">
    <ion-button class="button43" (click)="nextEvent()">Continue</ion-button>
  </div>
</ion-content>
