/* ion-content{
  /* --background: #fff url("../../assets/images/boardroom.png") no-repeat center center / cover;
  --background: #aff;
} */



.center {
  font-size: large;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%
}
