.center {
  font-size: large;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  margin-left: 5px;
  margin-right: 5px;
}

.group {
  margin-top: 6px;
  margin-bottom: 6px;
}

.p-info {
  font-size: large;
  margin-left: 8%;
  margin-right: 8%;
}

.s-info {
  font-size: large;
  margin-left: 24%;
  margin-right: 8%;
}


input[type='radio'][name='buttonGroup'] { display:none; }
label {
  display:inline-block;
  padding:3px;
  border:1px solid #000000;
  border-radius:3px;
  background-color:rgb(245, 245, 245);
  width:10em;
  text-align:center;
}
/* input[type='radio'][name='buttonGroup']:checked + label { background-color:#bbbbbb; } */

.column {
  float: left;
  padding: 10px;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.state-icon {
  max-height: 20px;
}

/* ion-content{
  /* --background: #fff url("../../assets/images/boardroom.png") no-repeat center center / cover;
  --background: #aff;
} */

.backbutton {
  position: absolute;
}

.header-icon {
  position: fixed;
  right: 10px;
  max-height: 30px;
  z-index: 199999;
}
