
<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Instructions
    </ion-title>
    <ion-button fill="clear" id="click-triggerWc"><ion-icon name="help-circle-outline"></ion-icon></ion-button>
    <ion-popover trigger="click-triggerWc" triggerAction="click">
      <ng-template>
        <ion-content class="ion-padding">Understanding the Electoral College is central to the US presidential election. If you want to learn more, there are great resources all over the internet!</ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="center" style="text-align: center;">
  <h1>How does the USA elect a president?</h1>
  </div>
  <!-- <ion-grid class="ion-no-padding bg-image">
  <div class="background">
    <div class="container">
      <div class="center">
      <h1 id="title">Hello There Candadit!</h1>
    </div>
    <div class="center">
      <p id="info1">My name is Paige and I am your campaign manager!</p>
    </div>
    <div class="center">

      <p id="info2">It is my job to make sure you have everything you need to win the presidency!</p></div>
      <div class="center">
        <p id="info3">We are on our way to campaign headquarters now...</p></div>
        <div class="center">
          <p id="info4">That's where you can campaign, and see a map of the current state of the race</p></div>
          <div class="center">
            <p id="info5">You can reach me in the HELP tab if you need anything</p></div>
       <div class="center"><img id="aid" src="../../../assets/images/aid.png">
      <div id="ready" class="center">
        <p id="info6">If you are ready to go, let's campaign!</p>

        <ion-button class="button43" (click)="continue()">Ready</ion-button>
      </div>
    </div>
  </div>
  </ion-grid> -->

  <div class="center">
    <p>Every 4 years the USA holds a presidential election. The winner of the election is not the person who gets the most total votes, rather the person who get the most 'Electoral Votes'.</p>
  </div>
  <div class="center">

  <p>Each state is given a certain amount of Electoral Votes based (loosely) on their population. Which ever person gets the most votes in that state, gets all of their electoral votes.</p>
  </div>

  <div class="center"><img src="../../assets/images/ElectoralMap.jpg"></div>

  <div class="center">
  <p>This means a person who gets just 50.1% of the votes in Texas would get all 40 of their electoral votes, same as if they got 99% of the votes.</p>
  </div>


<div class="center">
  <p>States with small population get 3 votes at a minimum, while large states can have 25, 50, or more!</p>
</div>
<div class="center"><img src="../../assets/images/Count.png"></div>


<div class="center">
      <p>   Today, to become president, a candidate needs to receive 270 electoral votes out of the 538.</p>
</div>
<div class="center">
  <h1>What do you do in this game?</h1>
</div>
<div class="center"><img src="../../assets/images/vs.jpg"></div>
<div class="center">
    <p> You will be competing against just 1 opponent. The Republican Party will be represented by the color RED and the Democratic Party will be represented by the color BLUE.</p>
</div>

<div class="center">
    <p> Your job in this game is to win enough States & Electoral Votes to become president. You can raise money, spend it on advertisements, travel to states for campaign events, and weigh in on national issues to become more popular -- and win the election in states.</p></div>

    <div class="center"><img src="../../assets/images/options.png"></div>

    <div class="center">
      <p>Every action you take will help you in a state. Focus on states that are worth lots of Electoral Votes, and that you have a shot of taking/protecting.</p>
    </div>

  <div class="center">
    <h1>The Map</h1>
  </div>
  <div class="center"><img src="../../assets/images/map.png"></div>

  <div class="center">
      <p>
        You will be given a map that shows how close the race is in each state.
      </p></div>  <div class="center">

      <p>  Dark blue means the democrat is winning that state by a lot, while light blue means they are leading by only a few percentage points.
      </p></div>  <div class="center">
      <p>  Dark red means the republican is ahead by a lot in that state, while pink means the republican is leading by only a small margin.
      </p></div>  <div class="center">
      <p>  If a state is light yellow, that means the state is tied!
      </p></div>
        <div class="center"><img style="height: 300px;" src="../../assets/images/map-count.png"></div>
        <div class="center">
          <p>
            You can also use this map to see how many votes you could gain by winning that state, and see a bar chart of how many electoral votes fall under each color on the map.</p></div>

        <div class="center">


          <p> Under the map, you will see how popular you are in a states shown as a Percentage.  (A +3% means you are predicted to win that state by 3% of the vote. A state that is EVEN could vote for either candidate on election day.)</p>
         </div>

         <div class="center"><img src="../../assets/images/score.png"></div>


      <div class="center">

       <p> It is a good idea to check in on this often, and use it to decide which states you are going to target in your campaign.</p>
    </div>

    <div class="center">
        <p> Good luck! If you need any more info, including a list of State Abbreviations, check out the HELP tab during a game</p>
      </div>
      <br><br><br><br>
      <div class="fix-center">
        <ion-button class="button43" (click)="continue()"><ion-icon name="arrow-back-circle-outline"></ion-icon>Back To Main Menu</ion-button>
      </div>

</ion-content>
