<ion-content [fullscreen]="true">
  <div class="img-wrapper">
    <img src="../../assets/images/background6.png">
  </div>
  <ion-grid class="ion-no-padding">
    <div class="background">
      <div *ngIf="!loading" class="center">
        <div class="centerwhite">
          <h1 class="titleText"><em>MULTIPLAYER</em></h1>
        </div>
        <div *ngIf="hostSelected" class="backed">
          <div class="centerdark ">
            <h2>You are the HOST</h2>
          </div>
          <div  class="centerdark ">
            <p style="font-size: small; color: black; margin-top: 0px;"><em>Tell your friend to enter the following join code:</em></p>
          </div>
          <div  class="centerdark ">
            <h2>{{hostCode}}</h2>
          </div>
        </div>
        <div *ngIf="joinSelected" class="backed">
          <div class="centerdark ">
            <h2>You are JOINING a game</h2>
          </div>
          <div class="centerdark ">
            <p style="font-size: small; color: black; margin-top: 0px;"><em>Get a 4-digit code from the host and enter it:</em></p>
          </div>
          <div class="centerdark ">
            <h1>Code:&nbsp;</h1>
            <input maxlength='4'
            (keyup)="verifyJoin()"
            [(ngModel)]='joinCode'
            />
          </div>
        </div>
        <ion-button *ngIf="joinSelected" [disabled]="joinCode.length !== 4" class="button43 skinny" (click)="joinSubmit()"><em>Submit</em></ion-button>

        <div *ngIf="joinSelected || hostSelected" class="centerdark" style="color: gray;">
          <h2>-- or --</h2>
        </div>

        <ion-button *ngIf="!hostSelected" class="button43 skinny" (click)="host()"><em>Host a game</em></ion-button>
        <ion-button *ngIf="!joinSelected"  class="button43 skinny" (click)="join()"><em>Join a game</em></ion-button>
        <span [class.selected]='docId === multiplayer.currentDoc' *ngFor='let docId of multiplayer.documents | async'>
          {{ docId }}
        </span>
        <p>{{multiplayer?.document?.gameState}}</p>
        <ion-button *ngIf="multiplayer.gameLinked" class="button43 skinny" (click)="next()"><em>Begin Game</em></ion-button>
      </div>
      <div *ngIf="loading" class="center">
        <div class="centerwhite">
          <h1 class="titleText"><em>Waiting for server to connect{{loadingDots}}</em></h1>
        </div>
      </div>
    </div>
  </ion-grid>
  <div class="fix-center">
    <ion-button class="button43" (click)="continue()"><ion-icon name="arrow-back-circle-outline"></ion-icon>Back To Main Menu</ion-button>
  </div>
</ion-content>

<!--

<app-document-list></app-document-list>
<app-document></app-document> -->
