<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
      Advertise
      <img class='header-icon' *ngIf="!isDemocrat" src="../../../assets/images/republicanIcon.png">
      <img class='header-icon' *ngIf="isDemocrat" src="../../../assets/images/democratIcon.png">
    </ion-title>
    <ion-button fill="clear" id="click-triggerAd"><ion-icon name="help-circle-outline"></ion-icon></ion-button>
    <ion-popover trigger="click-triggerAd" triggerAction="click">
      <ng-template>
        <ion-content class="ion-padding">
          <h3>Running Advertisements!</h3>
          <p>Ads here are run on regional TV channels, so you can pick any of the 8 available regions.</p>
          <p>Ads are great for influencing multiple states in 1 turn.</p>
          <p>Sometimes, the ads will have no effect on the people in these regions. Your roll will determine how effective they are!</p>
          <p>Select whether to run Attack ads or Positive ads.</p>
          <p>Attack ads are risky. They can backfire, as some people will view you unfavorably for attacking your opponent, but sometimes are very effective.</p>
        </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div style="margin-left: 2px; margin-top: 2px;">
    <ion-button class="backbutton" size="small" [disabled]="!canBack" (click)="back()"><ion-icon name="arrow-back-circle-outline"></ion-icon><em>Back</em></ion-button>
  </div>
<div class="center">
<h5 style="margin-top: 14px; max-width: 65%;">Choose where to run advertisements:</h5>
</div>

<!-- Have an icon for each of the state blocks -->
<div class="row">
  <div [formGroup]="myGroup">
    <div class="column left align-items-center">
    <input class="align-items-center" (click)="enableDice()" type="radio" name="buttonGroup" formControlName="buttonGroup" value="one" id="one">
    <label *ngIf="this.votes.Hawaii" for="one">
      <img class="state-icon" src="../../../assets/images/states/HI-Hawaii.png">
      <img class="state-icon" src="../../../assets/images/states/CA-California.png">
      <img class="state-icon" src="../../../assets/images/states/WA-Washington.png">
      <img class="state-icon" src="../../../assets/images/states/OR-Oregon.png">
      <br>
      HI, CA, WA, OR</label>
      <label *ngIf="!this.votes.Hawaii && this.votes.Washington" for="one">
        <img class="state-icon" src="../../../assets/images/states/CA-California.png">
        <img class="state-icon" src="../../../assets/images/states/WA-Washington.png">
        <img class="state-icon" src="../../../assets/images/states/OR-Oregon.png">
        <br>
        CA, WA, OR</label>
        <label *ngIf="!this.votes.Hawaii && !this.votes.Washington" for="one">
          <img class="state-icon" src="../../../assets/images/states/CA-California.png">
          <img class="state-icon" src="../../../assets/images/states/OR-Oregon.png">
          <img class="state-icon" src="../../../assets/images/states/NV-Nevada.png">
          <br>
          CA, OR, NV</label>
        <!-- JERMY -->
    <input (click)="enableDice()" type="radio" name="buttonGroup" formControlName="buttonGroup" value="two" id="two"><label for="two">
      <img class="state-icon" src="../../../assets/images/states/IL-Illinois.png">
      <img class="state-icon" src="../../../assets/images/states/MN-Minnesota.png">
      <br>
      IL, MN</label>
    <input (click)="enableDice()" type="radio" name="buttonGroup" formControlName="buttonGroup" value="three" id="three">
    <label *ngIf="this.votes.NewMexico" for="three">
      <img class="state-icon" src="../../../assets/images/states/NM-New-Mexico.png">
      <img class="state-icon" src="../../../assets/images/states/CO-Colorado.png">
      <img class="state-icon" src="../../../assets/images/states/NV-Nevada.png">
      <img class="state-icon" src="../../../assets/images/states/AZ-Arizona.png">
      <br>
      NM, CO, NV, AZ</label>
      <label *ngIf="!this.votes.NewMexico" for="three">
        <img class="state-icon" src="../../../assets/images/states/NY-New-York.png">
        <img class="state-icon" src="../../../assets/images/states/NJ-New-Jersey.png">
        <img class="state-icon" src="../../../assets/images/states/CT-Connecticut.png">
        <br>
        NY, NJ, CT</label>
    <input (click)="enableDice()" type="radio" name="buttonGroup" formControlName="buttonGroup" value="four" id="four"><label for="four">
      <img class="state-icon" src="../../../assets/images/states/ME-Maine.png">
      <img class="state-icon" src="../../../assets/images/states/NH-New-Hampshire.png">
      <img class="state-icon" src="../../../assets/images/states/VA-Virginia.png">
      <img class="state-icon" src="../../../assets/images/states/PA-Pennsylvania.png">
      <br>
      ME, NH, VA, PA</label>
  </div>
  <div class="column right">
    <input (click)="enableDice()" type="radio" name="buttonGroup" formControlName="buttonGroup" value="five" id="five"><label for="five">
      <img class="state-icon" src="../../../assets/images/states/WI-Wisconsin.png">
      <img class="state-icon" src="../../../assets/images/states/IA-Iowa.png">
      <img class="state-icon" src="../../../assets/images/states/MI-Michigan.png">
      <img class="state-icon" src="../../../assets/images/states/OH-Ohio.png">
      <br>
      WI, IA, MI, OH</label>
    <input (click)="enableDice()" type="radio" name="buttonGroup" formControlName="buttonGroup" value="six" id="six"><label for="six">
      <img class="state-icon" src="../../../assets/images/states/FL-Florida.png">
      <img class="state-icon" src="../../../assets/images/states/NC-North-Carolina.png">
      <img class="state-icon" src="../../../assets/images/states/GA-Georgia.png">
      <br>
      FL, NC, GA</label>
    <input (click)="enableDice()" type="radio" name="buttonGroup" formControlName="buttonGroup" value="seven" id="seven">
    <label *ngIf="this.votes.Alaska" for="seven">
      <img class="state-icon" src="../../../assets/images/states/TX-Texas.png">
      <img class="state-icon" src="../../../assets/images/states/AK-Alaska.png">
      <br>
      TX, AK</label>
      <label *ngIf="!this.votes.Alaska" for="seven">
        <img class="state-icon" src="../../../assets/images/states/TX-Texas.png">
        <br>
        TX</label>
    <input (click)="enableDice()" type="radio" name="buttonGroup" formControlName="buttonGroup" value="eight" id="eight"><label for="eight">
      <img class="state-icon" src="../../../assets/images/states/SC-South-Carolina.png">
      <img class="state-icon" src="../../../assets/images/states/MO-Missouri.png">
      <img class="state-icon" src="../../../assets/images/states/IN-Indiana.png">
      <img class="state-icon" src="../../../assets/images/states/MS-Mississippi.png">
      <img class="state-icon" src="../../../assets/images/states/LA-Louisiana.png">
      <br>
      SC, MO, IN, MS, LA</label>
    </div>
  </div>
</div>
<div class="center">
  <h5 style="margin-top: 4px; max-width: 80%;">Select what type of ad to run:</h5>
  </div>
<div style="border: 2px black solid; box-shadow: 1px 1px 4px 4px #888888; border-radius: 6px; margin-left: 24px; margin-right: 24px; margin-top: 8px; margin-bottom: 6px;">
  <div class="center">
    <ion-item style="margin-top: 2px; margin-bottom: 2px;">
      <div class="d-flex align-items-center">
        <span class="mr-10"><p *ngIf="attackAd">Positive</p><p *ngIf="!attackAd"><strong style="font-size: large;">Positive</strong></p></span>
        <ion-toggle [(ngModel)]="attackAd" slot="end" color="light"></ion-toggle>
        <span class="mr-10"><p *ngIf="!attackAd">Attack</p><p *ngIf="attackAd"><strong style="font-size: large;">Attack</strong></p></span>
      </div>
    </ion-item>
    </div>
  </div>

<div *ngIf="attackAd" class="center"><p style="color: red; margin-top: 0px; margin-bottom: 0px;">Running attack ads may backfire</p></div>
<app-dice *ngIf="attackAd" [slot0]='[1]' val0="-1%" [slot1]="[2,3]" val1="No Effect" [slot2]='[4,5]' val2="+2%" [slot3]='[6]' val3="+3%" [canClick]="diceEnabled"  (rollStarted)="rollStarted()"  (diceRolled)="handleAttackRoll($event)"></app-dice>
<app-dice *ngIf="!attackAd" [slot0]='[1]' val0="No Effect" [slot1]="[2, 3, 4, 5]" val1="+1%" [slot2]='[6]' val2="+2%" [canClick]="diceEnabled"  (rollStarted)="rollStarted()"  (diceRolled)="handleRoll($event)"></app-dice>
<div class="center">
  <h5 style="margin-top: 2px; max-width: 90%;">Tap 'Roll' to see how your ads do!</h5>
  </div>



</ion-content>
