<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
      Advertise
      <img class='header-icon' *ngIf="!isDemocrat" src="../../../assets/images/republicanIcon.png">
      <img class='header-icon' *ngIf="isDemocrat" src="../../../assets/images/democratIcon.png">
    </ion-title>
    <ion-button fill="clear" id="click-triggerAd"><ion-icon name="help-circle-outline"></ion-icon></ion-button>
    <ion-popover trigger="click-triggerAd" triggerAction="click">
      <ng-template>
        <ion-content class="ion-padding">
          <h3>Running Advertisements!</h3>
          <p>Ads here are run on regional TV channels, so you can pick any of the 8 available regions.</p>
          <p>Ads are great for influencing multiple states in 1 turn.</p>
          <p>Sometimes, the ads will have no effect on the people in these regions. Your roll will determine how effective they are!</p>
        </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div style="margin-left: 2px; margin-top: 2px;">
    <ion-button class="backbutton" size="small" [disabled]="!canBack" (click)="back()"><ion-icon name="arrow-back-circle-outline"></ion-icon><em>Back</em></ion-button>
  </div>
<div class="center">
<h3 style="margin-top: 14px; max-width: 65%;">Choose where to run advertisements:</h3>
</div>

<!-- Have an icon for each of the state blocks -->
<div class="row">
  <div [formGroup]="myGroup">
    <div class="column left">
    <input (click)="enableDice()" type="radio" name="buttonGroup" formControlName="buttonGroup" value="one" id="one">
    <label *ngIf="this.votes.Hawaii" for="one">
      <img class="state-icon" src="../../../assets/images/states/HI-Hawaii.png">
      <img class="state-icon" src="../../../assets/images/states/CA-California.png">
      <img class="state-icon" src="../../../assets/images/states/WA-Washington.png">
      <img class="state-icon" src="../../../assets/images/states/OR-Oregon.png">
      <br>
      HI, CA, WA, OR</label>
      <label *ngIf="!this.votes.Hawaii" for="one">
        <img class="state-icon" src="../../../assets/images/states/CA-California.png">
        <img class="state-icon" src="../../../assets/images/states/WA-Washington.png">
        <img class="state-icon" src="../../../assets/images/states/OR-Oregon.png">
        <br>
        CA, WA, OR</label>
    <input (click)="enableDice()" type="radio" name="buttonGroup" formControlName="buttonGroup" value="two" id="two"><label for="two">
      <img class="state-icon" src="../../../assets/images/states/IL-Illinois.png">
      <img class="state-icon" src="../../../assets/images/states/MN-Minnesota.png">
      <br>
      IL, MN</label>
    <input (click)="enableDice()" type="radio" name="buttonGroup" formControlName="buttonGroup" value="three" id="three"><label for="three">
      <img class="state-icon" src="../../../assets/images/states/NM-New-Mexico.png">
      <img class="state-icon" src="../../../assets/images/states/CO-Colorado.png">
      <img class="state-icon" src="../../../assets/images/states/NV-Nevada.png">
      <img class="state-icon" src="../../../assets/images/states/AZ-Arizona.png">
      <br>
      NM, CO, NV, AZ</label>
    <input (click)="enableDice()" type="radio" name="buttonGroup" formControlName="buttonGroup" value="four" id="four"><label for="four">
      <img class="state-icon" src="../../../assets/images/states/ME-Maine.png">
      <img class="state-icon" src="../../../assets/images/states/NH-New-Hampshire.png">
      <img class="state-icon" src="../../../assets/images/states/VA-Virginia.png">
      <img class="state-icon" src="../../../assets/images/states/PA-Pennsylvania.png">
      <br>
      ME, NH, VA, PA</label>
  </div>
  <div class="column right">
    <input (click)="enableDice()" type="radio" name="buttonGroup" formControlName="buttonGroup" value="five" id="five"><label for="five">
      <img class="state-icon" src="../../../assets/images/states/WI-Wisconsin.png">
      <img class="state-icon" src="../../../assets/images/states/IA-Iowa.png">
      <img class="state-icon" src="../../../assets/images/states/MI-Michigan.png">
      <img class="state-icon" src="../../../assets/images/states/OH-Ohio.png">
      <br>
      WI, IA, MI, OH</label>
    <input (click)="enableDice()" type="radio" name="buttonGroup" formControlName="buttonGroup" value="six" id="six"><label for="six">
      <img class="state-icon" src="../../../assets/images/states/FL-Florida.png">
      <img class="state-icon" src="../../../assets/images/states/NC-North-Carolina.png">
      <img class="state-icon" src="../../../assets/images/states/GA-Georgia.png">
      <br>
      FL, NC, GA</label>
    <input (click)="enableDice()" type="radio" name="buttonGroup" formControlName="buttonGroup" value="seven" id="seven">
    <label *ngIf="this.votes.Alaska" for="seven">
      <img class="state-icon" src="../../../assets/images/states/TX-Texas.png">
      <img class="state-icon" src="../../../assets/images/states/AK-Alaska.png">
      <br>
      TX, AK</label>
      <label *ngIf="!this.votes.Alaska" for="seven">
        <img class="state-icon" src="../../../assets/images/states/TX-Texas.png">
        <br>
        TX</label>
    <input (click)="enableDice()" type="radio" name="buttonGroup" formControlName="buttonGroup" value="eight" id="eight"><label for="eight">
      <img class="state-icon" src="../../../assets/images/states/SC-South-Carolina.png">
      <img class="state-icon" src="../../../assets/images/states/MO-Missouri.png">
      <img class="state-icon" src="../../../assets/images/states/IN-Indiana.png">
      <img class="state-icon" src="../../../assets/images/states/MS-Mississippi.png">
      <img class="state-icon" src="../../../assets/images/states/LA-Louisiana.png">
      <br>
      SC, MO, IN, MS, LA</label>
    </div>
  </div>
</div>
<div class="center">
<p>Click 'roll' to see how well the ads work.</p>
</div>
<app-dice [slot0]='[1]' val0="No Effect" [slot1]="[2, 3, 4, 5]" val1="+1%" [slot2]='[6]' val2="+2%" [canClick]="diceEnabled"  (rollStarted)="rollStarted()"  (diceRolled)="handleRoll($event)"></app-dice>
</ion-content>
