input[type='radio'][name='buttonGroup'] { display:none; }
label {
  display:inline-block;
  padding:3px;
  border:1px solid #000000;
  border-radius:3px;
  background-color:rgb(245, 245, 245);
  width:10em;
  text-align:center;
}
input[type='radio'][name='buttonGroup']:checked + label { background-color:#bbbbbb; }

.column {
  float: left;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.left {
  width: 50%;
}

.right {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.state-icon {
  max-height: 25px;
}

/* ion-content{
  --background: #fff url("../../../assets/images/advertise.png") no-repeat center center / cover;
} */

.center {
  font-size: large;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%
}
