<h1>Advertise</h1>
<h3>Choose a block of states to advertise to:</h3>
<!-- Have an icon for each of the state blocks -->
<div class="row">
  <div class="column left">
    <input type="radio" name="buttonGroup" value="one" id="one"><label for="one">Block 1 (HI, CA, WA, OR)</label>
    <input type="radio" name="buttonGroup" value="two" id="two"><label for="two">Block 2 (IL, MN)</label>
    <input type="radio" name="buttonGroup" value="three" id="three"><label for="three">Block 3 (NM, CO, NV, AZ)</label>
    <input type="radio" name="buttonGroup" value="four" id="four"><label for="four">Block 4 (ME, NH, VA, PA)</label>
  </div>
  <div class="column right">
    <input type="radio" name="buttonGroup" value="five" id="five"><label for="five">Block 5 (WI, IA, MI, OH)</label>
    <input type="radio" name="buttonGroup" value="six" id="six"><label for="six">Block 6 (FL, NC, GA)</label>
    <input type="radio" name="buttonGroup" value="seven" id="seven"><label for="seven">Block 7 (TX)</label>
    <input type="radio" name="buttonGroup" value="eight" id="eight"><label for="eight">Block 8 (SC, MO, IN, MT, MS, AK, LA)</label>
  </div>
</div>
<p>After choosing which block you will advertise to, click 'roll' to see how well your advertisement landed.<br>
Rolling a 1 will result in no effect<br>
Rolling a 2,3,4 or 5 will result in a +1<br>
Rolling a 6 will result in a +2<br></p>
<app-dice></app-dice>
<p>Press the 'play' tab to return to your options</p>
